

.container{
    display: flex;
}

*{
    margin: 0 ;
}

ul:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in;
}
.ja{background-color: black;
}


h1{display: flex;
    justify-content: center;
}
.nav1{background-color: black; 
    max-width: 100%;
color: rgb(81, 88, 95);}

.purpura{
    background-color: blueviolet;
    max-width: 87%;
    margin-left: 10px;
    padding: 4.5%;
}
.red{
    background-color: red;
    max-width: 87%;
    margin-left: 10px;
    padding: 4.5%;
}
.orange{
    background-color: orange;
    max-width: 87%;
    margin-left: 10px;
    padding: 4.5%;
}
.blue{
    background-color: rgb(71, 71, 226);
    max-width: 87%;
    margin-left: 10px;
    padding:4.5%;
}

